{% extends 'base.html' %}
{% block content %}

{% if not request.user.is_authenticated %}
{% for link in object_list %}
{% if link.public == True %}

<div class="panel panel-default">
 <div class="panel-body">

   <h2>{{ link.title }} by {{ link.user }}</h2>
    <h4>{{ link.description }}</h4>
      <h3><a href="{% url 'pass_through_view' link.short_url%}">localhost:8000/pass/{{ link.short_url }}</a></h3>
        Hits: {{ link.count }}<br>

{% if link.user == request.user %}
<a href="{% url 'link_update_view' link.id%}">Edit Link</a>
{% endif %}
</div>
</div>

{% endif %}
{% endfor %}
{% else %}


<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
     <div class="panel-body">
       <h3>Personal Links</h3>
     </div>
   </div>

   <div class="panel panel-default">
     <div class="panel-heading">
       <h3>Add New</h3>
     </div>
    <div class="panel-body">
      <form class="" action="{% url 'link_create_view' %}" method="post">
        {% csrf_token %}
        URL: <input class = "box" type="text" name="url" value=""><br>
        TITLE: <input class = "box" type="text" name="title" value=""><br>
        DESC: <input class = "box" type="text" name="description" value=""><br>
        PUBLIC? <input type="checkbox" name="public" value="">
        <input type="submit" name="name" value="Add">
      </form>
    </div>
  </div>


{% for link in object_list %}
{% if link.user == request.user %}

<div class="panel panel-default">
 <div class="panel-body">
   <h3>{{ link.title }} by {{ link.user }}</h3>
    <h4>{{ link.description }}</h4>
      <h4><a href="{% url 'pass_through_view' link.short_url%}">localhost:8000/pass/{{ link.short_url }}</a></h4>
        Hits: {{ link.count }}<br>

{% if link.user == request.user %}
<a href="{% url 'link_update_view' link.id%}">Edit Link</a>
{% endif %}
{% if link.user == request.user and link.public == False %}
<h5> This is a private link <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></h5> {% endif %}

</div>
</div>


{% endif %}
{% endfor %}
{% endif %}
</div>
<div class="col-md-5">

  <div class="panel panel-default">
   <div class="panel-body">
     <h3>Public Links</h3>
   </div>
 </div>

{% if request.user.is_authenticated %}
{% for link in object_list %}
{% if link.public == True and link.user != request.user %}
<div class="panel panel-default">
 <div class="panel-heading">
<h3>{{ link.title }} by {{ link.user }}</h3>
</div>
<div class="panel-body">
 <h4>{{ link.description }}</h4>
   <h4><a href="{% url 'pass_through_view' link.short_url%}">localhost:8000/pass/{{ link.short_url }}</a></h4>
     Hits: {{ link.count }}
     </div>
 </div>

{% endif %}
{% endfor %}
{% endif %}
</div>
</div>


{% endblock %}
