{% extends 'base.html' %}
{% block content %}

{% if not request.user.is_authenticated %}
{% for link in public %}


<div class="panel panel-default">
 <div class="panel-body">

   <h2>{{ link.title }} by {{ link.user }}</h2>
    <h4>{{ link.description }}</h4>
      <h3><a href="{% url 'pass_through_view' link.short_url%}">localhost:8000/pass/{{ link.short_url }}</a></h3>
        Hits: {{ link.count }}<br>

{% if link.user == request.user %}
<a href="{% url 'link_update_view' link.id%}">Edit Link</a>
{% endif %}
</div>
</div>


{% endfor %}
<!-- #################################### -->
{% else %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading add-new">
        <h3>Add New</h3>
      </div>
     <div class="panel-body">
       <form name="form" class="" action="{% url 'link_create_view' %}" method="post">
         {% csrf_token %}
         <div class="row">
           <div class="col-md-2">
             <div class="row input-box"> URL </div>
             <div class="row input-box"> TITLE  </div>
             <div class="row input-box"> DESC </div>
             <div class="row input-box"> PUBLIC? </div>
           </div>
             <div class="col-md-6">
               <div class="row input-box"> <input class="box" type="text" name="url" value=""> </div>
               <div class="row input-box"> <input class="box" type="text" name="title" value=""> </div>
               <div class="row input-box"> <input class="box" type="text" name="description" value=""> </div>
               <div class="row input-box"> <input type="checkbox" name="public" value="True">
                </div>
             </div>
             <div class="col-md-3">
               <input type="submit" onclick="fillForm();" class="btn btn-primary add-link" name="name" value="Add">
             </div>
           </div>
       </form>
     </div>
   </div>

  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
     <div class="panel-body link-tab-top">
       <h3>Personal Links</h3>
     </div>
   </div>
{% for link in user_link %}


<div class="panel panel-default">
   <div class="panel-heading">
 <h3>{{ link.title }} by {{ link.user }}</h3>
   </div>
 <div class="panel-body">
    <h4>{{ link.description }}</h4>
      <h4><a href="{% url 'pass_through_view' link.short_url%}">localhost:8000/pass/{{ link.short_url }}</a></h4>
        Hits: {{ link.count }}<br>

{% if link.user == request.user %}
<a href="{% url 'link_update_view' link.id%}">Edit Link</a>
{% endif %}
{% if link.user == request.user and link.public == False %}
<h5> This is a private link <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></h5> {% endif %}

</div>
</div>

{% endfor %}
{% endif %}
</div>
<div class="col-md-5">
{% if request.user.is_authenticated %}
<div class="panel panel-default">
 <div class="panel-body link-tab-top">
   <h3>Public Links</h3>
 </div>
</div>
{% for link in public_ex %}

<div class="panel panel-default">
 <div class="panel-heading">
<h3>{{ link.title }} by {{ link.user }}</h3>
</div>
<div class="panel-body">
 <h4>{{ link.description }}</h4>
   <h4><a href="{% url 'pass_through_view' link.short_url%}">localhost:8000/pass/{{ link.short_url }}</a></h4>
     Hits: {{ link.count }}
     </div>
 </div>


{% endfor %}
{% endif %}
</div>
</div>


{% endblock %}
{% block extrascript %}
<script type="text/javascript">
  function fillForm() {
    if (document.forms['form'].url.value === "" || document.forms['form'].title.value === "") {
    alert("Please fill in all fields");
    return false;
    }
    return true;
  }
</script>
{% endblock %}
